In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#df = pd.read_csv('BigMartSales_Train.csv')

C:\Users\VINOTH S\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
train=pd.read_csv("C:\\Users\\VINOTH S\\Data\\Train_UWu5bXk.csv")

In [5]:
test=pd.read_csv("C:\\Users\\VINOTH S\\Data\\Test_u94Q5KV.csv")

In [6]:
sample=pd.read_csv("C:\\Users\\VINOTH S\\Data\\SampleSubmission_TmnO39y.csv")

In [11]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,train
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,train
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,train
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,train
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,train

In [13]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,source
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,test
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1,test
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store,test
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1,test
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3,test

In [9]:
sample.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049                NaN
1           FDW14            OUT017                NaN
2           NCN55            OUT010                NaN
3           FDQ58            OUT017                NaN
4           FDY38            OUT027                NaN

In [10]:
train["source"]='train'

In [12]:
test["source"]='test'

In [14]:
train.columns.difference(test.columns)

Index(['Item_Outlet_Sales'], dtype='object')

In [15]:
train.shape

(8523, 13)

In [17]:
test.shape

(5681, 12)

In [18]:
#concatenate test and train
df = pd.concat([train,test],axis=0,sort=False)

In [19]:
df.shape

(14204, 13)

In [20]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,train
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,train
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,train
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,train
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,train

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 5680
Data columns (total 13 columns):
Item_Identifier              14204 non-null object
Item_Weight                  11765 non-null float64
Item_Fat_Content             14204 non-null object
Item_Visibility              14204 non-null float64
Item_Type                    14204 non-null object
Item_MRP                     14204 non-null float64
Outlet_Identifier            14204 non-null object
Outlet_Establishment_Year    14204 non-null int64
Outlet_Size                  10188 non-null object
Outlet_Location_Type         14204 non-null object
Outlet_Type                  14204 non-null object
Item_Outlet_Sales            8523 non-null float64
source                       14204 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.5+ MB

In [41]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
source                          0
dtype: int64

In [29]:
df["Item_Weight"]=df.groupby("Item_Identifier").Item_Weight.transform(lambda x: x.fillna(x.mean()))

In [33]:
df["Outlet_Size"]=df.groupby("Outlet_Type").Outlet_Size.transform(lambda x: x.fillna(x.mode()[0]))

In [36]:
df.loc[df["Item_Visibility"]==0,"Item_Visibility"]=np.nan

In [37]:
df.loc[df["Item_Visibility"]==0]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales, source]
Index: []

In [40]:
df["Item_Visibility"]=df.groupby("Item_Type").Item_Visibility.transform(lambda x: x.fillna(x.median()))

In [46]:
df.Item_Fat_Content.value_counts()

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [45]:
df.Item_Fat_Content.replace({"LF":"Low Fat","low fat":"Low Fat","reg":"Regular"},inplace=True)

In [51]:
df.Outlet_Type.value_counts()

Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [54]:
df.loc[df["Outlet_Type"].str.startswith("Supermarket"),"Outlet_sub_type"]="Supermarket"

In [55]:
df.loc[df["Outlet_Type"].str.startswith("Grocery"),"Outlet_sub_type"]="Grocery"

In [56]:
df.Outlet_sub_type.value_counts()

Supermarket    12399
Grocery         1805
Name: Outlet_sub_type, dtype: int64

In [59]:
df["outlet_Tenure"]=2019-df["Outlet_Establishment_Year"]

In [67]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source,Outlet_sub_type,outlet_Tenure,Item_code
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,train,Supermarket,20,FD
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,train,Supermarket,10,DR
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,train,Supermarket,20,FD
3,FDX07,19.20,Regular,0.058372,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800,train,Grocery,21,FD
4,NCD19,8.93,Low Fat,0.047912,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,train,Supermarket,32,NC

In [66]:
df["Item_code"]=df["Item_Identifier"].apply(lambda x:x[:2])

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 5680
Data columns (total 16 columns):
Item_Identifier              14204 non-null object
Item_Weight                  14204 non-null float64
Item_Fat_Content             14204 non-null object
Item_Visibility              14204 non-null float64
Item_Type                    14204 non-null object
Item_MRP                     14204 non-null float64
Outlet_Identifier            14204 non-null object
Outlet_Establishment_Year    14204 non-null int64
Outlet_Size                  14204 non-null object
Outlet_Location_Type         14204 non-null object
Outlet_Type                  14204 non-null object
Item_Outlet_Sales            8523 non-null float64
source                       14204 non-null object
Outlet_sub_type              14204 non-null object
outlet_Tenure                14204 non-null int64
Item_code                    14204 non-null object
dtypes: float64(4), int64(2), object(10)
memory usage: 1.8+ MB

In [71]:
#catagorical_columns=[ i for i in df.dtypes.index if df.dtypes[i]=='object']

In [82]:
catagorical_columns=df.select_dtypes(include='object')

In [72]:
#numerical_columns=[ i for i in df.dtypes.index if df.dtypes[i]!='object']

In [85]:
numerical_columns=df.select_dtypes(exclude='object')

In [105]:
catagorical_columns.columns

Index(['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', 'source',
       'Outlet_sub_type', 'Item_code'],
      dtype='object')

In [88]:
numerical_columns.columns

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Outlet_Establishment_Year', 'Item_Outlet_Sales', 'outlet_Tenure'],
      dtype='object')

In [116]:
encode=pd.get_dummies(catagorical_columns.drop(columns=["Item_Identifier","source"]))

In [117]:
processing_final=pd.concat([encode,numerical_columns,df[["Item_Identifier","source","Outlet_Identifier"]]],axis=1)

In [120]:
processing_final.source.value_counts()

train    8523
test     5681
Name: source, dtype: int64

In [ ]:
processing_final

In [110]:
from sklearn.model_selection import train_test_split

In [111]:
from sklearn.linear_model import LinearRegression

In [112]:
lm=LinearRegression()

In [122]:
pre_train = processing_final.loc[processing_final['source']=="train"]

In [124]:
pre_test = processing_final.loc[processing_final['source']=="test"]

In [152]:
pre_train.head()

,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,...,Item_code_DR,Item_code_FD,Item_code_NC,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,outlet_Tenure,Item_Identifier,Outlet_Identifier
0,1,0,0,0,0,0,1,0,0,0,...,0,1,0,9.30,0.016047,249.8092,3735.1380,20,FDA15,OUT049
1,0,1,0,0,0,0,0,0,0,0,...,1,0,0,5.92,0.019278,48.2692,443.4228,10,DRC01,OUT018
2,1,0,0,0,0,0,0,0,0,0,...,0,1,0,17.50,0.016760,141.6180,2097.2700,20,FDN15,OUT049
3,0,1,0,0,0,0,0,0,1,0,...,0,1,0,19.20,0.058372,182.0950,732.3800,21,FDX07,OUT010
4,1,0,0,0,0,0,0,0,0,0,...,0,0,1,8.93,0.047912,53.8614,994.7052,32,NCD19,OUT013

In [153]:
pre_test.head()

,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,...,Item_code_DR,Item_code_FD,Item_code_NC,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,outlet_Tenure,Item_Identifier,Outlet_Identifier
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,20.750,0.007565,107.8622,NaN,20,FDW58,OUT049
1,0,1,0,0,0,0,1,0,0,0,...,0,1,0,8.300,0.038428,87.3198,NaN,12,FDW14,OUT017
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,14.600,0.099575,241.7538,NaN,21,NCN55,OUT010
3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,7.315,0.015388,155.0340,NaN,12,FDQ58,OUT017
4,0,1,0,0,0,0,1,0,0,0,...,0,1,0,13.600,0.118599,234.2300,NaN,34,FDY38,OUT027

In [128]:
del pre_train["source"]

In [131]:
del pre_test["source"]

In [133]:
train["Item_Outlet_Sales"].mean()

2181.2889135750365

In [139]:
benchmark=pre_test[["Item_Identifier","Outlet_Identifier","Item_Outlet_Sales"]]

In [141]:
benchmark["Item_Outlet_Sales"]=train["Item_Outlet_Sales"].mean()

C:\Users\VINOTH S\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [146]:
benchmark.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        2181.288914
1           FDW14            OUT017        2181.288914
2           NCN55            OUT010        2181.288914
3           FDQ58            OUT017        2181.288914
4           FDY38            OUT027        2181.288914

In [149]:
benchmark.to_csv("C:\\Users\\VINOTH S\\Data\\benchmark_sample.csv")

In [150]:
del pre_train["Outlet_Establishment_Year"]

In [151]:
del pre_test["Outlet_Establishment_Year"]

In [172]:
pre_test.head()

,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,...,Item_code_DR,Item_code_FD,Item_code_NC,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,outlet_Tenure,Item_Identifier,Outlet_Identifier
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,20.750,0.007565,107.8622,NaN,20,FDW58,OUT049
1,0,1,0,0,0,0,1,0,0,0,...,0,1,0,8.300,0.038428,87.3198,NaN,12,FDW14,OUT017
2,1,0,0,0,0,0,0,0,0,0,...,0,0,1,14.600,0.099575,241.7538,NaN,21,NCN55,OUT010
3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,7.315,0.015388,155.0340,NaN,12,FDQ58,OUT017
4,0,1,0,0,0,0,1,0,0,0,...,0,1,0,13.600,0.118599,234.2300,NaN,34,FDY38,OUT027

In [156]:
pre_train.head()

,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,...,Item_code_DR,Item_code_FD,Item_code_NC,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,outlet_Tenure,Item_Identifier,Outlet_Identifier
0,1,0,0,0,0,0,1,0,0,0,...,0,1,0,9.30,0.016047,249.8092,3735.1380,20,FDA15,OUT049
1,0,1,0,0,0,0,0,0,0,0,...,1,0,0,5.92,0.019278,48.2692,443.4228,10,DRC01,OUT018
2,1,0,0,0,0,0,0,0,0,0,...,0,1,0,17.50,0.016760,141.6180,2097.2700,20,FDN15,OUT049
3,0,1,0,0,0,0,0,0,1,0,...,0,1,0,19.20,0.058372,182.0950,732.3800,21,FDX07,OUT010
4,1,0,0,0,0,0,0,0,0,0,...,0,0,1,8.93,0.047912,53.8614,994.7052,32,NCD19,OUT013

In [165]:
X=pre_train.drop(columns=["Item_Identifier","Outlet_Identifier","Item_Outlet_Sales"],axis=0)

In [167]:
y=pre_train.Item_Outlet_Sales

In [189]:
X.columns

Index(['Item_Fat_Content_Low Fat', 'Item_Fat_Content_Regular',
       'Item_Type_Baking Goods', 'Item_Type_Breads', 'Item_Type_Breakfast',
       'Item_Type_Canned', 'Item_Type_Dairy', 'Item_Type_Frozen Foods',
       'Item_Type_Fruits and Vegetables', 'Item_Type_Hard Drinks',
       'Item_Type_Health and Hygiene', 'Item_Type_Household', 'Item_Type_Meat',
       'Item_Type_Others', 'Item_Type_Seafood', 'Item_Type_Snack Foods',
       'Item_Type_Soft Drinks', 'Item_Type_Starchy Foods',
       'Outlet_Identifier_OUT010', 'Outlet_Identifier_OUT013',
       'Outlet_Identifier_OUT017', 'Outlet_Identifier_OUT018',
       'Outlet_Identifier_OUT019', 'Outlet_Identifier_OUT027',
       'Outlet_Identifier_OUT035', 'Outlet_Identifier_OUT045',
       'Outlet_Identifier_OUT046', 'Outlet_Identifier_OUT049',
       'Outlet_Size_High', 'Outlet_Size_Medium', 'Outlet_Size_Small',
       'Outlet_Location_Type_Tier 1', 'Outlet_Location_Type_Tier 2',
       'Outlet_Location_Type_Tier 3', 'Outlet_Type_Grocery Store',
       'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2',
       'Outlet_Type_Supermarket Type3', 'Outlet_sub_type_Grocery',
       'Outlet_sub_type_Supermarket', 'Item_code_DR', 'Item_code_FD',
       'Item_code_NC', 'Item_Weight', 'Item_Visibility', 'Item_MRP',
       'outlet_Tenure'],
      dtype='object')

In [163]:
pre_train.to_csv("C:\\Users\\VINOTH S\\Data\\train_modified.csv",index=False)

In [164]:
pre_test.to_csv("C:\\Users\\VINOTH S\\Data\\test_modified.csv",index=False)

In [168]:
lm.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [169]:
lm.coef_

array([-2.10660480e+01,  2.10660480e+01, -2.60730324e+00,  3.15772297e+00,
        2.91323708e+00,  2.24799921e+01, -5.36778126e+01, -3.08958315e+01,
        2.66215526e+01, -4.76555430e+01,  4.71388637e+00, -2.46293490e+01,
       -3.57590464e+00, -6.89409324e+00,  1.81655604e+02, -1.44733638e+01,
       -7.56630323e+01,  1.85302386e+01, -1.97722329e+02, -1.56128874e+02,
        1.68899774e+02, -1.15619515e+02, -3.07497451e+02,  4.66163402e+02,
        1.37970561e+02, -1.22598351e+02,  1.95244804e+02, -6.87120204e+01,
       -1.56128874e+02,  2.81831866e+02, -1.25702992e+02, -1.80964668e+02,
        1.84271984e+02, -3.30731620e+00, -5.05219780e+02,  1.54675893e+02,
       -1.15619515e+02,  4.66163402e+02, -5.05219780e+02,  5.05219780e+02,
        3.65296124e+01, -9.72005656e+00, -2.68095559e+01,  6.98054327e-02,
       -2.43201462e+02,  1.55696600e+01,  2.34833033e+01])

In [170]:
lm.intercept_

-958.6335805840172

In [173]:
#test_final=pre_test.drop(['Item_Outlet_Sales',"Item_Identifier","Outlet_Identifier"],axis=1)

In [174]:
#test_final.head()

,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,...,Outlet_Type_Supermarket Type3,Outlet_sub_type_Grocery,Outlet_sub_type_Supermarket,Item_code_DR,Item_code_FD,Item_code_NC,Item_Weight,Item_Visibility,Item_MRP,outlet_Tenure
0,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,20.750,0.007565,107.8622,20
1,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,8.300,0.038428,87.3198,12
2,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,14.600,0.099575,241.7538,21
3,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,7.315,0.015388,155.0340,12
4,0,1,0,0,0,0,1,0,0,0,...,1,0,1,0,1,0,13.600,0.118599,234.2300,34

In [195]:
y_test_predict = lm.predict(pre_test.drop(["Item_Outlet_Sales","Item_Identifier","Outlet_Identifier"],axis=1))

In [201]:
y_train_predict=lm.predict(X)

In [196]:
y_test_predict

array([1836.81033731, 1518.97199483, 1883.40077015, ..., 1824.9066841 ,
       3574.04406221, 1287.86652288])

In [197]:
Final=pre_test[["Item_Identifier","Outlet_Identifier","Item_Outlet_Sales"]]

In [198]:
Final["Item_Outlet_Sales"]=y_test_predict

C:\Users\VINOTH S\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [199]:
Final.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1836.810337
1           FDW14            OUT017        1518.971995
2           NCN55            OUT010        1883.400770
3           FDQ58            OUT017        2575.865851
4           FDY38            OUT027        5132.525343

In [ ]:
from sklearn import metrics

In [203]:
np.sqrt(metrics.mean_squared_error(y,y_train_predict))

1127.074920402442

In [207]:
Final.to_csv("C:\\Users\\VINOTH S\\Data\\FinalBigmart.csv",index=False)